*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}

body{
    background:#141414;
    color:white;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:black;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:#E50914;
    font-size:2.5rem;
    font-weight:700;
}

.nav-right{
    display:flex;
    gap:10px;
}

.nav-right input{
    padding:12px;
    width:250px;
    border:none;
    border-radius:5px;
    outline:none;
}

.nav-right button{
    background:#E50914;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

/* Banner */

.banner{
    height:80vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.9)
    ),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1920");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}

.banner-content{
    margin-left:60px;
}

.banner h1{
    font-size:3.5rem;
    max-width:700px;
}

.banner p{
    margin:20px 0;
    font-size:1.3rem;
}

.play-btn{
    background:#E50914;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:1rem;
    border-radius:5px;
    cursor:pointer;
}

/* Sections */

.movie-section{
    padding:40px 30px;
}

.movie-section h2{
    margin-bottom:25px;
    font-size:2rem;
}

/* Movie Rows */

.movie-row{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scrollbar-width:none;
}

.movie-row::-webkit-scrollbar{
    display:none;
}

/* Movie Cards */

.movie-card{
    min-width:260px;
    text-align:center;
    transition:0.3s;
}

.movie-card:hover{
    transform:scale(1.05);
    cursor:pointer;
}

.movie-card img{
    width:100%;
    height:390px;
    object-fit:cover;
    border-radius:10px;
}

.movie-card h4{
    margin-top:12px;
    font-size:1.4rem;
}

.movie-card p{
    color:#bbb;
    margin-top:8px;
    font-size:1.1rem;
}

/* Modal */

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.9);

    justify-content:center;
    align-items:center;

    z-index:2000;
}

.modal-content{
    background:#181818;
    width:85%;
    max-width:1200px;
    padding:30px;
    border-radius:15px;
    position:relative;
}

#closeModal{
    position:absolute;
    right:20px;
    top:10px;

    font-size:40px;
    cursor:pointer;
}

/* Modal Body */

.modal-body{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.modal-body img{
    width:350px;
    border-radius:10px;
}

.movie-info{
    flex:1;
}

.movie-info h2{
    font-size:3rem;
    margin-bottom:25px;
}

.movie-info p{
    margin-bottom:20px;
    line-height:1.8;
    font-size:1.3rem;
}

/* Watchlist Button */

.watchlist-btn{

    background:#E50914;
    color:white;

    border:none;

    padding:15px 25px;

    margin:20px 0;

    border-radius:6px;

    cursor:pointer;

    font-size:18px;
}

.watchlist-btn:hover{

    opacity:0.9;

}

/* Remove Button */

.remove-btn{

    background:#333;
    color:white;

    border:none;

    padding:10px 20px;

    margin-top:12px;

    border-radius:5px;

    cursor:pointer;

    transition:0.3s;
}

.remove-btn:hover{

    background:#E50914;

}

/* Footer */

footer{
    background:black;
    text-align:center;
    padding:30px;
    margin-top:40px;
}

/* Responsive */

@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .banner-content{
        margin:20px;
    }

    .banner h1{
        font-size:2.3rem;
    }

    .modal-body{
        flex-direction:column;
        align-items:center;
    }

    .modal-body img{
        width:250px;
    }

    .movie-info h2{
        font-size:2rem;
        text-align:center;
    }

    .movie-info{
        text-align:center;
    }
}

.trailer-btn{

    background:white;
    color:black;

    border:none;

    padding:15px 25px;

    border-radius:6px;

    cursor:pointer;

    margin-left:10px;

    font-weight:600;
}

.trailer-btn:hover{

    background:#ddd;

}

